@{
    ViewData["Title"] = "About Me";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

<!--About Section start-->
<section class="about">
    <div class="main">
        <img src="images/Anthonia.jpg" alt="">
        <div class="about-text">
            <h2>About Me</h2>
            <h5><span id="span">Developer</span> & Customer Service</h5>
            <p>
                I am a Software Developer. I can provide clean codes and awesome near perfect customer service.
                I am a Software Developer. I can provide clean codes and awesome near perfect customer service.
                I am a Software Developer. I can provide clean codes and awesome near perfect customer service.
                I am a Software Developer. I can provide clean codes and awesome near perfect customer service.
                I am a Software Developer. I can provide clean codes and awesome near perfect customer service.
            </p>
            <button type="button">Let's Talk</button>
        </div>
    </div>
</section>
