@{
    ViewData["Title"] = "Contact Me";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

<nav>
    <ul>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="About">About Me</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Services">Services</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Skills">Skills</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Me</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="PAYECalculator">Tax Calculator</a>
        </li>
    </ul>
    <a class="btn">Subscribe</a>
</nav>
<!--Contact Me-->
<div class="contact-me">
    <p>Let Me Make You A Functioning Software.</p>
    <a class="button-two" href="">Hire Me</a>
</div>

